{% extends 'base.html' %}

{% block content %}
<style> body {
    background-color: #181818;
}
</style>

<div class="container" style="margin-top:16rem;">
   
          <div class="row justify-content-center">
       
            <div class="col-xl-5 col-md-8">
             
              <form method="POST" action="" class="bg-white rounded shadow-5-strong p-5">
              {% csrf_token %}
                <!-- Email input -->
                {% if messages %}
                    <div class="alert alert-success" role="alert">
                    Successfully Registered!
                    </div>
                {% endif %}
                
                <h1 style='margin-left: 9.7rem;margin-bottom:2rem'><strong>Login</strong></h1>
                <div class="form-outline mb-4">
                  <input type="text" name="username" class="form-control" />
                  <label class="form-label" for="form1Example1">Username</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" name="password" id="form1Example2" class="form-control" />
                  <label class="form-label" for="form1Example2">Password</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                      <label class="form-check-label" for="form1Example3">
                        Remember me
                      </label>
                    </div>
                  </div>

                 
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn is-primary ripple" style="width:100%">Login</button>
              </form>
            </div>
          </div>
        </div>





 







 

{% endblock content %}


