{% extends 'base.html' %}

{% block title %}AOJ | Problems{% endblock title %}


{% block content %}

{% include 'navbar.html' %}

<section class="container mt-5">
<div class="table-responsive">
  <table class="table table-hover table-dark ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Problems</th>
        <th scope="col">Difficulty</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Sit</td>
        <td>Amet</td>
        <td>Consectetur</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Adipisicing</td>
        <td>Elit</td>
        <td>Sint</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Hic</td>
        <td>Fugiat</td>
        <td>Temporibus</td>
      </tr>
    </tbody>

  </table>
</div>
</section>
{% endblock content %}

