<header class="menu-bar">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">AOJ</a>
  
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Link -->
            {% with request.resolver_match.url_name as url_name %}
            <li class="nav-item ripple">
              <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item ripple">
              <a class="nav-link waves-effect waves-light {% if url_name == 'problem_list' %}active{% endif %}" href="/problems">Problems</a>
            </li>
            <li class="nav-item ripple">
              <a class="nav-link {% if url_name == 'status' %}active{% endif %}" href="#">Status</a>
            </li>
            <li class="nav-item ripple {% if url_name == 'about' %}active{% endif %}">
              <a class="nav-link" href="#">About</a>
            </li>
            {% endwith %}
          </ul>
          <ul class="navbar-nav ms-auto d-flex flex-row me-3" id="fix">
            {% if request.user.is_authenticated %}
            <li class="nav-item me-3 me-lg-0 dropdown">
              <a
                class="nav-link dropdown-toggle ripple"
                href="#"
                id="navbarDropdownmenuLink"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-user"></i
                ><span class="usr">{{request.user}}</span>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownmenuLink"
              >
                <li><a class="dropdown-item ripple" href="#">Profile</a></li>
                <li><a class="dropdown-item ripple" href="#">Settings</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="/register" class="btn is-link ripple">Sign up</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="btn is-primary ripple">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>